.coding-block + .coding-block {
    margin: 12px 0px;
}

.coding-title {
    padding: 12px;
    background-color: var(--medgrey);
}

.coding-container {
    padding: 12px;
    justify-content: center;
    align-items: center;
    background: rgb(231, 231, 231);
}

.coding-card + .coding-card{
    margin-left: 10vh;
}

.coding-fig {
    background: white;
    height: 20vh;
    padding: 10px;
}

.coding-des {
    text-align: center;
    padding: 10px;
    background-color: var(--medgrey);
}