.NavBar-container {
    /* padding: var(--s) var(--m); */
    background-color: var(--primary);
    height: 8vh;
    box-shadow: 0 8px 10px -6px rgb(49, 49, 49);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 80%;
    padding: 0% 10%;
  }
  
  .NavBar-title {
    padding: var(--s) 0;
    color: var(--white);
    font-size: 20px;
    font-family: "Nobile";
    justify-self: start;
  }
  
  .NavBar-linkContainer {
    /* margin-left: var(--l); */
    justify-self: end;
    margin-right: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--white);
    opacity: 0.7;
    font-family: "Nobile";
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 1;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--l);
  }