.home-banner-highlight {
    color: #fff066;
    font-size: 48px;
    font-weight:1000;
}

/* block */

.home-flexleft{
    align-items: center;
    width: 200%;
}

.home-flexright{
    margin-left: 10%;
    align-items: center;
    /* width: 20%; */
}